// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Sofia pro", "Helvetica", "sans-serif";
$headers-font: "Sofia pro", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.date  {
padding-left: 15px;
font-family: Sofia Pro;
font-size: 13px;
font-weight: bold;
line-height: 13px;
/* identical to box height */
letter-spacing: -0.03em;
color: #000000;
display: flex;
align-items: flex-end;
}

.price {
font-family: Sofia Pro;
font-size: 17px;
line-height: 17px;
/* identical to box height */
letter-spacing: -0.05em;
text-transform: uppercase;
padding-right: 15px;
color: #939090;
display: flex;
align-items: flex-end;
}
