.home-bg {
  // background-image: url(https://images.unsplash.com/photo-1516738901171-8eb4fc13bd20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  // background-image: url(https://images.unsplash.com/photo-1442570468985-f63ed5de9086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1693&q=80);
  background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  height: 100%;
  background-size: cover;
}

#home-form-cta .btn-go {
  width: 41.8%;
  height: 37.5px;
  vertical-align: text-top;
}

#home-form-cta {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  justify-content: space-between;
  align-content: center;
}

.flatpickr-input[readonly] {
  cursor: pointer;
  width: 41.8%;
  margin-bottom: 13px;
  padding-left: 19.5%;
  color: grey;
}

.form-container {
  padding-top: 10%;
  padding-left: 15%;
}

.overland-font {
  color: $overland;
  // color: rgba(0,0,0,0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 75px;
}

.thicker-land {
  // color: #E0A9AA;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

.slogan {
font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: white;
text-align: left;
}

.form-inputs {
  width: 42.9%;
  display: flex;
}

.input-field {
  border-radius: 5px;
  height: 65%;
  border: none;
  margin-right: 1.5%;
  width: 95%;
  padding: 8px;
  text-overflow: ellipsis;
  color: grey;
}


.form-action {
  margin-top: 1.5%;
}

.ap-dropdown-menu {
  width: 95%;
}

.ap-input-icon svg {
  margin-top: 7px;
  fill: $overland;
  position: absolute;
  top: 30%;
  right: 0;
  }

.ap-icon-clear {
  display: none;
}

.ap-input-icon {
  margin-right: 3%;
}

.algolia-places {
  height: 65%;
}

@media all and (max-width: 767px) {
  .form-inputs {
    display: block;
  }
  .input-field {
    width: 100%;
    margin-top: 10px;
  }

  #form-cta, .btn-go {

  .form-container {
    position: absolute;
    top: 15%;
    right: 15%;
  }
    width: 100%;
    margin-top: 10px;
  }

  .form-div {
    width: 240%;
  }
}

// EXPERIMENTING

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/*lazy general reset*/
* {
  padding: 0;
  margin: 0;
}

/*border-box stuff*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.home-container {
  position: relative;
  width: 100%;
  height: 900px;
  margin: auto;
  background: #595055;
  // background: #4f81c7; #light-version
  overflow: hidden;
  z-index: 0;
  box-shadow: 0 0 25px #2b2628;
  /*   transform: scale(1.5); */

  body {
    background: #4b4247;
  /*   background: #2b2628; */
  }

}

.moon {
  position: absolute;
  top: 100px;
  width: 100px;
  height: 100px;
  margin: 40px 0 80px 1000px;
  border-radius: 50%;
  background: #fff8d7;
  // background: #f0d78c; #light-version
  box-shadow: 0 0 70px 70px rgba(255,248,216, 0.2);
}

.cloud-container {
  opacity: 0.6
}

.cloud,
.cloud:before,
.cloud:after {
  border-radius: 35px;
  background: rgb(145,133,132);
  // background: #fcfafa; #light-version
}

.cloud {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 30px;
  border-radius: 50px 35px 35px 15px;
  position: relative;
}

.cloud:before,
.cloud:after {
  content:'';
  display: block;
  position: absolute;
}

.cloud:before {
  width: 40px;
  height: 45px;
  left: 12px;
  bottom: 0;
}

.cloud:after {
  width: 40px;
  height: 50px;
  right: 16px;
  bottom: 0;
}

.cloud:nth-child(1){
  position: absolute;
  top: 180px;
  left: -450px;
}

.cloud:nth-child(2){
  position: absolute;
  top: 80px;
  left: -230px;
}

.cloud:nth-child(4){
  position: absolute;
  top: 50px;
  left: 230px;
}

.cloud:nth-child(5) {
  position: absolute;
  top: 140px;
  right: 100px;
}

.cloud {
    animation: cloudmove 50s linear infinite backwards;
}

@keyframes cloudmove {
  0% { transform: translateX(-450px); }
  100% { transform: translateX(1090px); }
}

.stars {
  padding-left: 900px;
  width: 100%;
}

.star {
  display: inline-block;
  position: relative;
  animation: twinkle 7s -1s infinite;
}

.star:nth-child(even){
  animation: twinkle 7s 2s infinite;
}

@keyframes twinkle {
  0% { opacity: 1; }
  60% { opacity: 0.2; }
}

.star:before,
.star:after{
  content: '';
  display: block;
  width: 3px;
  height: 10px;
  background: #b0a69b;
  border-radius: 45%;
}

.star:before {
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
}

.star:after {
  transform: rotate(45deg);
}

.star:nth-child(1){
  transform: translate(60px, -210px);
}

.star:nth-child(2){
  transform: translate(180px,-110px);
}

.star:nth-child(3){
  transform: translate(210px,-215px);
}

.star:nth-child(4){
  transform: translate(370px,-15px);
}

.star:nth-child(5){
  transform: translate(440px,50px);
}

.star:nth-child(6){
  transform: translate(440px,-190px);
}

.star:nth-child(7){
  transform: translate(-5px,20px);
}


.mountain {
  width: 490px;
  height: 490px;
  left: 500px;
  margin: 10px auto 0;
  background: linear-gradient(-225deg, #796f74, #534a4f 50%, #4a4246 50%);
  border-radius: 60px;
  transform: rotate(-45deg);
  position: relative;
  z-index: -2;
}

.train-container {
  position: absolute;
  bottom: -40px;
  z-index: -1;
}

.train {
  width: 1450px;
  animation: move 30s -1.5s linear infinite forwards;
}

@keyframes move {
  0% {transform: translateX(1800px);}
  100% { transform: translateX(-1450px); }
}

.train-car {
  display: inline-block;
  vertical-align: top;
  height: 70px;
  width: 240px;
  border: 1px solid #71656a;
  border-top: 2px solid #978a8e;
  background: #50464b;
  // background: #64c4ed; #light-version
  border-radius: 11px;
  padding-top: 18px;
  padding-left: 18px;
}

.head-car,
.end-car{
  width: 210px;
  border-left: 2px solid #978a8e;
  border-top-left-radius: 200px;
  padding-left: 25px;
}

.end-car {
  border-top-left-radius: 11px;
  border-top-right-radius: 200px;
  padding-left: 10px;
  padding-right: 25px;
}

.windows,
.door {
  display: inline-block;
}

.windows {
  width: 80px;
  height: 50px;
}

.head-car .windows,
.end-car .windows{
  width: 130px;
}

.w-left,
.w-right,
.head-car-window,
.end-car-window{
  display: inline-block;
  width: 37px;
  height: 26px;
  border-radius: 2px;
  background: #FEC66B;
/*   vertical-align: top; */
}

.head-car-window,
.end-car-window{
  width: 25px;
  border-top-left-radius: 25px;
  margin-right: 15px;
  position: relative;
}

.end-car-window {
  border-top-left-radius: inherit;
  border-top-right-radius: 25px;
  margin-left: 15px;
  margin-right: 0;
}

.head-car-window:after,
.end-car-window:after{
  content: '';
  display: block;
  width: 5px;
  height: 26px;
  background: #554b50;

  position: absolute;
  right: -12px;
}

.end-car-window:after {
  left: -12px;
}

.door {
  background: #675e62;
  width: 25px;
  height: 50px;
  padding: 4px 5px 0;
  vertical-align: top;
  margin: 0 5px;
}

.end-car .door {
  margin: 0 6px;
}

.door:before{
  content: '';
  display: block;
  width: 15px;
  height: 20px;
  background: #53494f;

}

.train-track {
  position: relative;
  background: #43383e;
  width: 110.5%;
  height: 350px;
}

.ledge {
  height: 75px;
  width: 100%;
/*   background: white; */
  border-bottom: 3px solid #392e34;
  margin-bottom: 40px;
}

.pillar {
  overflow-x: hidden;
}

.pillar > div{
  background: #534a4f;
  // background: #4f81c7; #light-version
  height: 250px;
  border-radius: 200px 200px 0 0;
  display: inline-block;
}

.pillar-left {
  width: 120px;
  margin-left: -60px;
  margin-right: 50px;
}

.pillar-middle,
.pillar-right {
  border-right: 5px solid #968b8e;
}

.pillar-middle {
  width: 160px;
  margin-right: 80px;
}

.pillar-right {
  width: 180px;
  border-right-width: 8px;
}

.desc {
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #d3c5b2;
  line-height: 1.5;
}

.desc a,
.desc a:visited {
  font-weight: bold;
  color: #d3c5b2;
}

