// Specific CSS for your home-page
// #form-cta {
//   margin-top: 20px;
//   margin-bottom: 20px;
//   justify-content: space-between;
//   align-content: center;
//   }

.form-div {
  width: 69%;
  height: 10%;
}

.flatpickr-input[readonly] {
  cursor: pointer;
  width: 46.8%;
  margin-bottom: 13px;
  padding-left: 19.5%;
  color: grey;
}

.form-container {
  padding-top: 15%;
  padding-left: 15%;
}

.overland-font {
  color: #E0A9AA;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 75px;
}

.thicker-land {
  color: #E0A9AA;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

.slogan {
font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #000000;
}

.form-inputs {
  width: 48%;
  display: flex;
}

.input-field {
  border-radius: 5px;
  height: 65%;
  border: none;
  margin-right: 1.5%;
  width: 95%;
  padding: 8px;
}


.form-action {
  margin-top: 1.5%;
}

.ap-dropdown-menu {
  width: 95%;
}

.ap-input-icon svg {
    fill: #E0A9AA;
    position: absolute;
    top: 30%;
    right: 0;
  }

.ap-input-icon {
  margin-right: 3%;
}
@media all and (max-width: 767px) {
  .form-inputs {
    display: block;
  }
  .input-field {
    width: 100%;
    margin-top: 10px;
  }

  #form-cta, .btn-go {
    width: 100%;
    margin-top: 10px;
  }

  .form-div {
    width: 100%;
  }

  .form-container {
    padding: 15%;
    text-align: center;
  }
}
