// Specific CSS for your home-page
// #form-cta {
//   margin-top: 20px;
//   margin-bottom: 20px;
//   justify-content: space-between;
//   align-content: center;
//   }

.form-container {
  padding-top: 15%;
  padding-left: 15%;
}

.overland-font {
  color: #E0A9AA;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 75px;
}

.thicker-land {
   color: #E0A9AA;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

.slogan {
font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #000000;
}

.form-inputs {
  width: 70%;
  display: flex;
  height: 40px;
}

.input-field {
  border-radius: 5px;
  height: 100%;
  border: none;
  margin-right: 1.5%;
  width: 95%;
  padding: 10px;
}

.form-div {
  width: 60%;
  height: 10%;
}

.form-action {
  margin-top: 1.5%;
}

.ap-dropdown-menu {
  width: 95%;
}

.ap-input-icon {
  margin-right: 3%;
}
