#search-con-page {
  padding: 30px 15px 30px;
}

#results-button.btn-go {
  width: 100%;
}

#input-connection.form-inputs {
  width: 102.5%;
}

#search_starts_at.flatpickrcon {
  width: 100%;
  padding-left: 42.5%;
}

.infospace {
  height: auto;
  margin-top: 50px;
}

#resultsform.ap-input-icon svg {
  display: none
}
