
#search-con-page {
  padding: 25px 15px 15px;
}

#results-button.btn-go {
  vertical-align: text-top;
  width: 100%;
}

#input-connection.form-inputs {
  width: 102.5%;
}

#search_starts_at.flatpickrcon {
  width: 100%;
  padding-left: 42.5%;
}

.infospace {
  height: auto;
  margin-top: 50px;
}

#search-con-page {

  .ap-input-icon svg {
    display: none;
  }

}
