.sidebar {
  min-width: 350px;
}

// p {
//   text-align: center;
// }

#map {
  position: fixed;
}

#search-con-page.form-div {
  width: 104%;
  height: 23%;
  padding-left: 2%;
  padding-top: 3%;
}

#results-button.btn-go {
  width: 100%;
}

#input-connection.form-inputs {
  width: 102.5%
}

#search_starts_at.flatpickrcon {
  width: 100%;
  padding-left: 42.5%;
}
