.main-container {
  display: flex;
}

.sidebar {
  width: 600px;
  position: relative;
  left:0;
  overflow: scroll;
  height: 79vh;
  box-shadow: none;
  top: 100px;
}

.sidebar1 {
  width: 600px;
  position: relative;
  left:0;
  overflow: scroll;
  height: 95vh;
  box-shadow: none;
}

.map-section {
  position: relative;
  right: 0;
  top: 0;
  height: 95vh;
  width: 100%;
}

.btn-container {
  top: 70px;
  padding: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  position: fixed;
  background-color: white;
  width: 435px;

  .btn {
    margin: auto;
    width: 200px;
  }
  .btn-back {
    margin-bottom: 10px;
    font-style: italic;
    padding: 8px 24px;
  }
  .btn-back:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;
  }
}

.btn-recommendations {
  margin-top: 30px;
}
