.modal-dialog {
  margin: 100px 0px 0px 520px;
}

.modal-title {
}

.modal-content {
  width: 900px;
  height: 80vh;
}

.modal-body {
  overflow: scroll;
  h4 {
    text-align: center;
  }
}

.add-poi {
  cursor: pointer;
  font-size: 30px;
  color: #fec66a;
  margin-right: 20px;

}
