.modal-dialog {
  margin: 130px 0px 0px 494px;
}

.modal-content {
  width: 110%;
  height: 80vh;
}

.modal-title {
}

.modal-body {
  overflow: scroll;
  h4 {
    text-align: center;
    margin: 30px 20px;
  }
}

.add-poi {
  cursor: pointer;
  font-size: 30px;
  color: #fec66a;
  margin-right: 20px;

}

.accomodation-recommendations {
  padding-left: 4%;
}

.food-recommendations {
  padding-left: 4%;
}

.close {
  font-size: xx-large;
  font-color: $overland;
}
