
.journey-card {
  border-color: #F7F7F7;
  border-radius: 5px;
  width: 488px;

  p {
    text-align: end;
    margin: 0px;
    padding: 10px;
    padding-right: 20px;
    color: #9CB4BE;
  }

  h6 {
    align-self: flex-end;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
    color: #9CB4BE;
  }
}

.journey-card-content {
  display: flex;
  justify-content: space-between;
}

.journey-card-top {
  display: block;
  background-color: #F7F7F7;
  height: 45px;
}

.journey-card-bottom {
  display: flex;
  background-color: $white;
  height: 105px;

  i {
    margin: auto;
  }
}
