.journey-card {
  border-color: #F7F7F7;
  border-radius: 5px;

  p {
    text-align: end;
    margin: 0px;
    padding: 10px;
    padding-right: 20px;
    color: $soft-blue;
  }

  h6 {
    align-self: flex-end;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
    color: $soft-blue;
  }

  .journey-card-top {
    height: 45px;
    background-color: #F7F7F7;
    display: block;
  }

  .journey-card-bottom {
    display: flex;
    background-color: $white;
    height: 105px;

    img {
      margin: auto;
      height: 50%;
    }
  }

  .journey-card-content {
    display: flex;
    justify-content: space-between;
    // text-decoration: none;
  }

}
