<!-- <div id="map" data-markers="<%= @markers.to_json %>"></div>
<script>
  const mapElement = document.getElementById('map');

  // Initialize and add the map
  function initMap() {
    // The location of Uluru
     var uluru = {lat: 48.85341, lng: 2.3488};
    // The map, centered at Uluru
    // var map = new google.maps.Map(
    //     document.getElementById('map'), {zoom: 5, center: uluru });
    // The marker, positioned at Uluru
    const markers = JSON.parse(mapElement.dataset.markers);
    console.log(markers)
    markers.forEach(function(element) {
      var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 5, center: uluru });
      var marker = new google.maps.Marker({
          position: element,
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP,
        });
        var flightPlanCoordinates = markers.order
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

          flightPath.setMap(map);



      // content pop up for markers
      // var contentString = '<div id="marker-content">'+
      //       '<div id="siteNotice">'+
      //       '</div>'+
      //       `<h1 id="firstHeading" class="firstHeading">`+
      //       `${}`+`</h1>`+
      //       '<div id="bodyContent">'+
      //       '</div>'+
      //       '</div>';

        // var infowindow = new google.maps.InfoWindow({
        //   content: contentString
        // });

        // events for markers
        // marker.addListener('click', toggleBounce);
        //   function toggleBounce() {
        //     if (marker.getAnimation() !== null) {
        //       marker.setAnimation(null);
        //     } else {
        //       marker.setAnimation(google.maps.Animation.BOUNCE);
        //     }
        //   }

        // marker.addListener('click', function() {
        //   infowindow.open(map, marker);
        // });
    });
     }
    var latlngbounds = new google.maps.LatLngBounds();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i]
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title
            });

            //Extend each marker's position in LatLngBounds object.
            latlngbounds.extend(marker.position);
          }

</script>




<!-- @route_connections

params[:start_city]
params[:end_city]

route[1][:connections]

@markers.forEach

        var flightPlanCoordinates = [
          {lat: 37.772, lng: -122.214},
          {lat: 21.291, lng: -157.821},
          {lat: -18.142, lng: 178.431},
          {lat: -27.467, lng: 153.027}
        ];

        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(map);
      }
 -->
 -->
