
<!-- added inline padding because I don't know where you've put those styles for 70px padding, J! -->
<div class="home-bg">
  <div class="form-container">
    <h1 class="overland-font"> over<span class="thicker-land">land</span></h1>
    <p class="slogan"> Experience every step of your journey</p>
    <%= render 'search_form' %>
  </div>
</div>
