
<!-- added inline padding because I don't know where you've put those styles for 70px padding, J! -->
<div class="form-container">
  <h1 class="overland-font"> over<span class="thicker-land">land</span></h1>
  <p class="slogan"> Experience every step of your journey</p>
  <%= render 'search_form' %>
</div>

<script>
(function() {
  var placesAutocomplete = places({
    appId: 'plCZF795OBRH',
    apiKey: 'a74e19a14b11374550470794d257b49f',
    container: document.querySelector('#city'),
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  }).configure({
    type: 'city',
    aroundLatLngViaIP: false,
  });
})();
</script>
