<div class="container">
  <div class="results">

  <%#= @directions %>

  <% route_connections = @directions.get_route_connections(params[:start_city], params[:end_city], current_user.storage) %>
  <%= route_connections[0].keys %>
    <div class="journey-card">
      <p><%= route_connections[0][:total_duration] %></p>
      <p><%= route_connections[0][:total_distance] %></p>
      <% route_connections[0][:connections].each do |connection| %>
        <div class="connection">
          <%= connection[:transport_type] %>
        </div>
      <% end %>
    </div>

  </div>
</div>
