<div class="connection-card">
  <div class="connection-card-top">
    <p class="date">monday 13th of december</p>
    <p class="price"> 68€ </p>
  </div>
  <div class="connection-card-bottom">
    <a class="btn btn-book" href="#">BOOK TRIP</a>
  </div>
</div>

<div class="connection-card">
    <div class="connection-card-top">
      <p class="date">monday 13th of december</p>
      <p class="price"> 68€ </p>
    </div>
    <div class="connection-card-bottom">
      <a class="btn btn-book" href="#">BOOK TRIP</a>
    </div>
</div>

<div class="booking-card">
  <div class="booking-card-img">
    <i class="fas fa-ship"></i>
    <!-- <img src="../../assets/images/icons/bus-iconbus.png" alt=""> -->
  </div>
  <div class="booking-content">
    <div class="booking-card-text">
      <p id="booking-price"><strong>£2.50</strong></p>
      <p id="booking-station"><strong>Paddington Station</strong></p>
      <p id="booking-source">www.nationalrail.co.uk</p>
    </div>
    <div class="booking-checkbox">
      <input type="text">
    </div>
  </div>
</div>

<div class="route-card">
  <div class="route-card-top">
    <p><strong>34h17min</strong></p>
  </div>
  <div class="route-card-bottom">
    <i class="fas fa-ship"></i>
  </div>
</div>

<div class="main-container">
  <div class="row">

    <div class="col-12 col-lg-3">
       <div class="connection-card">
          <div class="connection-card-top">
            <p class="date">monday 13th of december</p>
            <p class="price"> 68€ </p>
          </div>
          <div class="connection-card-bottom">
            <div class="connection-detail">
              <div class="connection-city">
                <p>city - 00:00am</p>
                <p class="station">city station</p>
              </div>
              <div class="duration">
                1:23h
              </div>
              <div class="connection-city">
                <p>city - 00:00am</p>
                <p class="station">city station</p>
              </div>
            </div>
            <div class="button-book">
            <a class="btn btn-book" href="#">BOOK TRIP</a>
            </div>
          </div>
        </div>
        <div class="connection-card">
          <div class="connection-card-top">
            <p class="date">monday 13th of december</p>
            <p class="price"> 68€ </p>
          </div>
          <div class="connection-card-bottom">
            <div class="connection-detail">
              <div class="connection-city">
                <p>city - 00:00am</p>
                <p class="station">city station</p>
              </div>
              <div class="duration">
                1:23h
              </div>
              <div class="connection-city">
                <p>city - 00:00am</p>
                <p class="station">city station</p>
              </div>
            </div>
            <div class="button-book">
            <a class="btn btn-book" href="#">BOOK TRIP</a>
            </div>
          </div>
        </div>
        <div class="connection-card">
          <div class="connection-card-top">
            <p class="date">monday 13th of december</p>
            <p class="price"> 68€ </p>
          </div>
          <div class="connection-card-bottom">
            <div class="connection-detail">
              <div class="connection-city">
                <p>city - 00:00am</p>
                <p class="station">city station</p>
              </div>
              <div class="duration">
                1:23h
              </div>
              <div class="connection-city">
                <p>city - 00:00am</p>
                <p class="station">city station</p>
              </div>
            </div>
            <div class="button-book">
              <a class="btn btn-book" href="#">BOOK TRIP</a>
            </div>
          </div>
        </div>
    </div>


    <div class="col-12 col-lg-9">
      <img style="max-width: 100%; position:sticky;height: 100vh;top:0;" src="https://images.unsplash.com/photo-1524661135-423995f22d0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80">
    </div>
  </div>
</div>
