<div class="connection-card">
  <div class="connection-card-top">
  <p class="date">monday 13th of december</p>
  <p class="price"> 68€ </p>
  </div>
  <div class="connection-card-bottom">
    <a class="btn btn-book" href="#">BOOK TRIP</a>
  </div>

</div>

<div class="connection-card">
  <div class="connection-card-top">
  <p class="date">monday 13th of december</p>
  <p class="price"> 68€ </p>
  </div>
  <div class="connection-card-bottom">
    <a class="btn btn-book" href="#">BOOK TRIP</a>
  </div>

</div>

