<div class="connection-card">
  <div class="connection-card-top">
    <p class="date">monday 13th of december</p>
    <p class="price"> 68€ </p>
  </div>
  <div class="connection-card-bottom">
    <a class="btn btn-book" href="#">BOOK TRIP</a>
  </div>
</div>

  <div class="connection-card">
    <div class="connection-card-top">
      <p class="date">monday 13th of december</p>
      <p class="price"> 68€ </p>
    </div>
    <div class="connection-card-bottom">
      <a class="btn btn-book" href="#">BOOK TRIP</a>
    </div>
</div>

<div class="booking-card">
  <div class="booking-card-img">
    <i class="fas fa-ship"></i>
    <!-- <img src="../../assets/images/icons/bus-iconbus.png" alt=""> -->
  </div>
  <div class="booking-content">
    <div class="booking-card-text">
      <p id="booking-price"><strong>£2.50</strong></p>
      <p id="booking-station"><strong>Paddington Station</strong></p>
      <p id="booking-source">www.nationalrail.co.uk</p>
    </div>
    <div class="booking-checkbox">
      <input type="text">
    </div>
  </div>
</div>

<div class="route-card">
  <div class="route-card-top">
    <p><strong>34h17min</strong></p>
  </div>
  <div class="route-card-bottom">
    <i class="fas fa-ship"></i>
  </div>
</div>
