// .main-container {
//   padding-top:70px;
//   // margin:0px;
// }

.connection-card {
  border-color: #F7F7F7;
  border-radius: 5px;

  .connection-card-top {
    height: 45px;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;

    .price {
    // padding-right: 80px;
    }

    h6 {
      align-self: flex-end;
      margin: 0px;
      padding: 10px;
      padding-left: 20px;
      color: white;
    }

    p {
      text-align: end;
      margin: 0px;
      padding: 10px;
      padding-right: 20px;
      color: $soft-blue;
    }

  }

  .connection-card-bottom {
    padding: 25px;
    background: $white;
    p {
      padding: 0px;
      margin: 0px;
    }
    .duration {
      text-align: right;
      padding-right: 20px;
      font-size: large;
      color: $dark-grey;
    }

    .station {
      font-size: 20px;
    }
  }
}

.connection-city {
  display: block;
  font-size: 13px;
  padding-left: 100px;
}

.icon-row {
  align-items: center;
  padding: 15px 0px 15px 15px;
}

.button-book {
  text-align: right;
  padding-right: 50px;

  .btn-book {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $overland;
  }

// fixed the weird giant hover on the connection detail page
  // &:hover {
  //   background: #E0A9AA;
  //   color: white;
  // }
}
