.connection-card {
  display: block;
}

.connection-card-top {
height: 45px;
width: 400px;
background: #F7F7F7;
display: flex;
justify-content: space-between;
padding-top: 10px;
}

.connection-card-bottom {
  height: 300px;
  width: 400px;
  background: white;
}
