// .main-container {
//   padding-top:70px;
//   // margin:0px;
// }

.connection-card {
  border-color: #F7F7F7;
  border-radius: 5px;
  width: 488px;

  .connection-card-top {
    height: 45px;
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;

    .price {
    // padding-right: 80px;
    }

    h6 {
      align-self: flex-end;
      margin: 0px;
      padding: 10px;
      padding-left: 20px;
      color: $black;
    }

    p {
      text-align: end;
      margin: 0px;
      padding: 10px;
      padding-right: 20px;
      color: $soft-blue;
    }

  }

  .connection-card-bottom {
    height: 300px;
    background: $white;

    .connection-detail {
      height: 245px;
      padding-top: 50px;
    }

    .duration {
      text-align: right;
      padding-right: 50px;
      font-size: large;
      color: $dark-grey;
    }

    .station {
      font-size: 20px;
    }
  }
}

.connection-city {
  height: 70px;
  display: block;
  font-size: 13px;
  padding-left: 100px;
}


.button-book {
  text-align: right;
  padding-right: 50px;

  .btn-book {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #E0A9AA;
  }

  &:hover {
    background: #E0A9AA;
    color: white;
  }
}
