.btn-book {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: $overland;
}

.btn-book:hover {
  background: $overland;
  color: white;
}

.btn-go {
  padding: 8px;
  background-color: $overland;
  margin-top: 1px;
  color: white;
  text-align: center;
  border-radius: 5px;
  width: 46.8%;
  height: 40px;
}

.btn-go:hover {
  color: white;
  background-color: $overland;
}

