.card {
  width: 400px;
  background-color: white;
}

.journey-header {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  color: #9CB4BE;
}

.journey-icons {
  padding: 15px;
  display: inline-block;
}

.transport-icon {
  margin: 5px 5px 0px 0px ;
  height: 45px;
  width: 45px;
}
