// body {
//   background-image: url("https://images.unsplash.com/photo-1482059470115-0aadd6bf6834?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
//   background-size: cover;
// }

.card {
  width: 400px;
  background-color: white;
}

.journey-header {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  color: #9CB4BE;
}

.journey-icons {
  padding: 15px;
  display: inline-block;
}

.transport-icon {
  margin: 5px 5px 0px 0px ;
  height: 45px;
  width: 45px;
}


// MY ROUTE CARD ON PROFILE PAGE
.my-route-card {
  border-bottom: inset;
  height: 280px;
  padding-bottom: 30px;
  .bold {
    font-weight: bold;
  }
  .my-route-card-header {
    font-weight: thin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #595055;
    color: white;
    h4 {
      display: inline-block;
      width: 600px;
      margin: 0px;
    }
    p {
      margin-bottom: 0px;
      font-size: 20px;
    }
    a {
      width: 200px;
    }
  }
  .my-route-card-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .journey-details {
      .underlined {
        padding-bottom: 2px;
        font-weight: bold;
        border-bottom: dashed 2px $overland;
      }
      .datetime {
        background-color: white;
        color: $overland;
        border-bottom: dashed 2px $overland;
        padding-bottom: 2px;
      }
      .datetime:hover {
        background-color: $overland;
        color: white;
        padding: 0px 2px;
      }
    }
    .my-route-card-links {
      display: flex;
      flex-direction: column;
      width: 200px;
      text-align: right;
      .my-route-icon {
        height: 50px;
        width: 50px;
        padding: 10px;
      }
    }
  }
}

.my-route-card.archived {
  color: $pale-gray;
  .bold {
    font-weight: bold;
  }
  .my-route-card-header {
    background-color: $pale-gray;
    color: rgba(0,0,0,0.3);
  }
}


// C O N N E C T I O N   C A R D   for   J O U R N E Y    S H O W    P A G E

.route-connection-card {
  display:flex;
  padding: 25px;
  margin: 20px 20px 5px 20px;
  align-items: center;
  background-color: rgba(215,99,109,0.1);
  border-radius: 5px;
  // border-bottom: 1px solid rgba(0,0,0,0.1);
  .line {
    width: 50px;
  }
  .route-connection-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .route-connection-info {
      display: flex;
      align-items: center;
      .icons {
        width:  60px;
        margin-right: 50px;
        .transport-icon {
          height: 65px;
          width: 65px;
        }
      }
      .route-connection-details {
        .bold-heading {
          font-size: 20px;
          font-weight: bold;
        }
        p {
          padding: 0px;
          margin: 0px;
        }
        .buy-tickets {
          margin: 40px 0px;
        }
        .arriving {
          margin-bottom: 20px;
        }
      }
    }
    .checkbox-toggle {
      display: flex;
      align-items: center;
      margin-right: 50px;
      .italic {
        font-style: italic;
      }
      img {
        height: 50px;
        width: 50px;
      }
      img.empty {
        cursor: pointer;
      }
    }
    h4 {
      font-size: 20px;
    }
    img {
      width: 45px;
      height: 45px;
    }
  }
}

.route-connection-card.booked {
  background-color: rgba(100,185,150,0.1);
}


// P O I   C A R D S  for   J O U R N E Y   S H O W    P A G E
.your-recommendations {
  padding: 10px 0px 0px 15px;
  .italic {
    font-style: italic;
  }
}

.connection-poi-card {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  height: 150px;
  background-color: $light-gray;
  margin: 10px 20px;
  border-radius: 5px;
  .bold-heading {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    padding: 0px;
    margin: 0px;
  }
  .checkbox-toggle {
    display: flex;
    align-items: center;
    margin-right: 50px;
    .italic {
      font-style: italic;
    }
    img {
      height: 50px;
      width: 50px;
    }
    img.empty {
      cursor: pointer;
    }
  }
}

.connection-poi-card.booked {
  background-color: rgba(100,185,150,0.1);

}


// R E C O M M E N D A T I O N      C A R D S
.recommendation-card {
  background-color: $light-gray;
  width: 85%;
  height: 170px;
  margin: 15px 0px 15px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
  .recommendation-card-header {
    border-radius: 5px 5px 0px 0px;
    background-color: gray;

    h5 {
      color: white;
      margin: 0px;
      border-radius: 5px 5px 0px 0px;
      padding: 10px;
    }
  }
  .recommendation-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    p {
      margin: 0px;
      padding: 0px;
    }
    // .add-poi {
    //   font-size: 30px;
    //   color: #fec66a;
    //   margin-right: 20px;
    // }
  }
}

.modal-ajax-content {
  h4:not(:first-child) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  a {
    color: $overland;
  }
}

.recommendation-card.selected {
  .recommendation-card-header {
    h5 {
      background-color: $overland;
      color: $dark-grey;
    }
  }
}
