.card {
  width: 400px;
  background-color: white;
}

.journey-header {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  color: #9CB4BE;
}

.journey-icons {
  padding: 15px;
  display: inline-block;
}

.transport-icon {
  margin: 5px 5px 0px 0px ;
  height: 45px;
  width: 45px;
}


// MY ROUTE CARD ON PROFILE PAGE
.my-route-card {
  height: 200px;
  margin-bottom: 30px;

  // -webkit-box-shadow: 0px 0px 11px -2px rgba(171,171,171,1);
  // -moz-box-shadow: 0px 0px 11px -2px rgba(171,171,171,1);
  // box-shadow: 0px 0px 11px -2px rgba(171,171,171,1);
}

.my-route-card-header {
  font-weight: thin;
  display: flex;
  justify-content: space-between;
}
