.navbar-lewagon {
  justify-content: space-between;
  // background: $dark-grey;
  background: #595055;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.overland-logo {
  color: $overland;
  padding-top: 15px;
  font-size: 32px;
  padding-left: 30px;
}

.nav-item {
padding-right: 30px;
}

.overland-font-navbar {
  color: $overland;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 75px;
}

.thicker-land-navbar {
  color: $overland;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 75px;
}

.logo {

  padding-left: 30px;

  img {
    position: absolute;
    top: 10px;
  }
  h1 {
    padding-left: 50px;
    padding-top: 5px;
  }
}
