form {
  margin: auto;
  display: block;

  .login-form-inputs {
    width: 50%;
    margin: auto;
    display: block;
  }

  #form-cta {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 15px;
  }

}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

  .form-h2 {
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 75px;
  }

  #form-container {
    text-align: center;
    margin: auto;
  }

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 6px 6px;
  cursor: pointer;
  font-weight: 400;
  background: white;
  border-radius: 2px;
}
