form {
  // width: 500px;
  margin: auto;
  display: block;

  .input-field {
    margin-bottom: 25px;
  }

  .form-h2 {
    margin-bottom: 50px;
    text-align: center;
  }

  #form-cta {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-content: center;
  }

}


