form {
  // width: 500px;
  margin: auto;
  display: block;

  .login-form-inputs {
    display: block;
  }

  .login-input-field {
    margin-bottom: 20px;
  }

  #form-cta {
    margin-top: 10px;
    margin-bottom: 0px;
    justify-content: space-between;
    align-content: center;
  }

}

  .form-h2 {
    margin-bottom: 50px;
    text-align: center;
    margin-top: 75px;
  }

  #form-container {
    width: 400px;
    text-align: center;
    margin: auto;
  }

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 6px 6px;
  cursor: pointer;
  font-weight: 400;
  background: white;
  border-radius: 2px;
}
