<div class="main-container">
  <div class="row">

    <div class="col-12 col-md-4 col-lg-4">
      <!-- Added a div with 200px for the search form as not done yet -->
      <div style="margin-top: 200px">
      </div>

      <div class="journey-card">
        <div class="journey-card-top">
          <div class="journey-card-content">
            <h6><strong>Commandant Cousteau</strong></h6>
            <p><strong>34h17min</strong></p>
          </div>
        </div>
        <div class="journey-card-bottom">
          <i class="fas fa-ship"></i>
        </div>
      </div>

    </div>

    <div class="col-12 col-md-8 col-lg-8">
      <!-- style="max-width: 100%; position:sticky;height: 100vh;top:0;" -->
      <%= render 'shared/map' %>
    </div>

  </div>
</div>
