<div class="container">
  <div class="row">

    <div class="col-12 col-md-4 col-lg-4">
      <div class="route-card">
        <div class="route-card-top">
          <p><strong>34h17min</strong></p>
        </div>
        <div class="route-card-bottom">
          <i class="fas fa-ship"></i>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8 col-lg-8">
      <!-- style="max-width: 100%; position:sticky;height: 100vh;top:0;" -->
      <img src="https://images.unsplash.com/photo-1524661135-423995f22d0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80">
    </div>

  </div>
</div>
