<h1><%= simple %></h1>
<p>Find me in app/views/pois/index.html.erb</p>

<div class="food-recommendations">
  <% food.each do |recommendation| %>
    <div class="recommendation-card">
      <!-- <h5><%= recommendation. %></h5> -->
    </div>
  <% end %>
</div>
